.content-section{
	background-color: #8E1BB2;
	background-size: 100%;
	margin-top: 0%;
}

.jumbotron{
	background-color: #BA55D3;
	background-size: 100%;
	margin-top: 5%;
}

.img-video{
	border: 1px solid #FFFFFF;
	background-size: 100%;
	margin-top: 25%;
}

