html
{
	height:100%;
}
body
{
	height:100%;
}
header
{
	height:100%;
	background-image: url('Images/bg.png')
}
nav
{
	padding-top: 20px;
}
li
{
	text-decoration:none;
}
.container1
{
	padding-top: 100px
}
h1
{
	font-weight: 1px
}
