.style-table{
	border: 1px solid #efefef;
	margin-left: 40px;
}

.titulo-tabla{
	text-align: center;
	margin-top: 40px;
	margin-bottom: 40px;
	margin-left: 40px;
}

.head-table{
	background-color: #fbfbfb;
	border: 1px solid #efefef;
	padding: 20px 20px;
	text-align: left;
}

.body-table{
	border: 1px solid #efefef;
	padding: 20px 20px;
	text-align: left;
}

.star{
	margin-bottom: 5px;
}

.button-tabla{
	background-color: white;
	border-radius: 5px;
	padding: 10px 40px;
	border: 2px solid #3a3b40;
	margin: 40px;
}

